h3{
    color: red;
    background-color: whitesmoke;
    font-size: 123px;
    font:bold;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
 .para1{
            border: 3px solid red;
        }
        .para2{
            border: 3px solid red;
            padding: 40px;
            margin: 60px;
        }
        .para3{
            border: 3px solid red;
            padding: 40px 80px 60px 53px;
            margin: 60px 90px 30px 55px;
        }
        .para4{
            border: 3px solid red;
            padding: 40px;
            margin: 60px;
        }
        .para5{
            border: 2px dashed red;
            padding: 30px;
            margin: 20px;
        }